{% extends "dummy.html" %}
{% load static %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 70vh;">
    <div class="text-center">
        <h2>User Profile</h2>

        <div class="card mx-auto" style="width: 18rem;">
            {% if PO.profile_pic %}
            <img src="{{ PO.profile_pic.url }}" class="card-img-top" alt="Profile Picture">
            {% else %}
            <img src="https://via.placeholder.com/150" class="card-img-top" alt="No Profile Picture">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title"><strong>Username:</strong>{{ UO.username }}</h5>
                <p class="card-text"><strong>Email:</strong> {{ UO.email }}</p>
                <p class="card-text"><strong>Address:</strong> {{ PO.address }}</p>
                <a href="{% url 'profile_update' %}" class="btn btn-primary">Update Profile</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}